#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	install -Dm755 ny-cli $(DESTDIR)/usr/bin/ny-cli
	install -Dm644 LICENSE $(DESTDIR)/usr/share/licenses/ny-cli/LICENSE
	install -Dm644 README.md $(DESTDIR)/usr/share/doc/ny-cli/README.md
